<nav class="navbar navbar-default hidden-xs hidden-sm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href=".">
                Palo Alto Networks App for Splunk
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-left" style="margin-left: 30px;">
                <li><a href="https://splunkbase.splunk.com/app/491">Download App</a></li>
                <li><a href="https://splunkbase.splunk.com/app/2757/">Download Add-on</a></li>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="https://www.paloaltonetworks.com/partners/strategic-partners/splunk">Splunk Partnership</a></li>
                <li><a href="webinar.html"><span style="color: orange;">Join the Webinar!</span></a></li>
            </ul>
        </div>
    </div>
</nav>